.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    gap: 1rem;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1076px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }
}

@media only screen and (max-width: 794px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }
}